html {
    font-size: 62.5% !important;
}
@media (min-width: 992px) {
    html {
        font-size: 75% !important;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 100% !important;
    }
}
@media (min-width: 2000px) {
    html {
        font-size: 120% !important;
    }
}

.character_picker {            
    height:5rem;
    background-color:#33cc33;
}
.char_data {
    height:5rem;
    background-color:#ff3300;
}

.armor_container{
	height: 10rem;
	background-color: #ff00bf;
}

.skill_container {
	height: 25rem;
	background-color: #0000ff;
}
.attribute_container {
	height: 25rem;
	background-color: #ff00bf;
}


.weapons_container{
	height: 25rem;
	background-color: #ffff00;
}
.attribute_container{
	height: 25rem;
	background-color: #00ffff;
}