.character_picker {            
    height:10%;
    background-color:#33cc33;
}
.char_data {
    height:10%;
    background-color:#ff3300;
}

.skill_container {
	height: 20%;
	background-color: #0000ff;
}
.attribute_container {
	height: 20%;
	background-color: #ff00bf;
}

.armor_container{
	height: 20%;
	background-color: #ff00bf;
}
.weapons_container{
	height: 10rem;
	background-color: #ffff00;
}
.attribute_container{
	height: 10rem;
	background-color: #00ffff;
}